.container{
  border: 1.5px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.btn{
  color: white;
  background-color: #fb3f3f;
  border: none;
  width: 7rem;
  height: 3rem;
  margin: 0;
  border-radius: 14px;
}